form, .subscribe{
  input.error, textarea.error, select.error{
    background: var(--orange);
    border-color: var(--orange);
    & + .form-warning{
      display: flex;
      align-items: center;
      color: var(--orange);
      .svg-icon{
        background: var(--orange);
        margin-right: 4px;
      }
    }
    & + .checkmark{
      border: 2px solid var(--orange);
      background: var(--orange);
      &:before{
        // background: var(--red);
      }
    }
  }
    
  .form-warning{
    margin: 5px 0 0 5px;
    font-size: .8rem;
    display: none;
  }
  h2{
    margin-bottom: 2rem;
  }

  .char-count{
    color: #9393d4;
  }
}