button{
  background: transparent;
  text-decoration: underline;
}
form, .subscribe{
  input.error, textarea.error, select.error{
    border-color: var(--red);
    & + .form-warning{
      display: flex;
      align-items: center;
      color: var(--red);
    }
  }
    
  .form-warning{
    margin: 5px 0 0 5px;
    font-size: .8rem;
    display: none;
  }
  h2{
    margin-bottom: 2rem;
  }

  .char-count{
    color: #9393d4;
  }
}