h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
}

.highlight {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    var(--highlight-color) 50%
  );
  padding: 0 0.25rem;
}
