:root{
  // Colors
  --black: #1b1b1b;
  --white: #ffffff;
  --whiteOld: #eaf1fc;
  --gray: #b0b0b0;
  --yellow: #ffda01;
  --borderBlue: #f0effa;
  --blueLight: #b5c8e7;
  --blueOceanLight: #3438ba;
  --blueOcean: #332abb;
  --green: #47c0bb;
  --purpleLight:#201778;
  --purpleLightHover:#232d7f;
  --purpleMid: #2e25ab;
  --purpleDark: #180f64;
  --purpleDarkLight: #9893b5;
  --letterBlue: #6182ba;
  --orange: #e77b44;
  --red: #cc4333;
  --blueButton: #483ed4;

  // Transitions
  --fast: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  --slow: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}