:root{
  // Colors
  --black: #1b1b1b;
  --blackMid: #1e2026;
  --blackLight: #23272A;
  --white: #ffffff;
  --whiteOld: #eaf1fc;
  --gray: #b0b0b0;
  --yellow: #ffda01;
  --orange: #e77b44;
  --red: #f60f20;
  --redDark: #da1321;
  --blueButton: #483ed4;
  --secondary-color: #1b206e;
  --highlight-color: #c4a2fc;

  --secondary-color: #1b206e;
  --highlight-color: #c4a2fc;

  // Transitions
  --fast: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  --slow: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}